<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Changelog Generator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" media="screen" href="css/app.css" />
</head>
<body>
	<header>
		<h1>Milestone Changelog Generator</h1>
	</header>
	<main>
		<section>
			<div class="section-content">
				<h2>What is this?</h2>
				<p>Have you ever needed to generate a changelog for a milestone in GitHub?</p>
				<p>That is what this does. Generates a changlog from the issues attached to a milestone.</p>
			</div>
		</section>
		<div id="app">
			<section>
				<div class="section-content">
					<h2>Enter in our repo and milestone!</h2>
					<div class="pure-form pure-form-stacked">
						<label>GitHub User</label>
						<input v-model="user">
						<label>GitHub Repo</label>
						<input v-model="repo">
						<label>Milestone #</label>
						<input v-model="milestone">
						<button class="pure-button pure-button-primary" v-on:click="loadIssues">Load Changelog</button>
					</div>
				</div>
			</section>
			<section>
				<div class="section-content">
					<button class="pure-button pure-button-primary" v-on:click="switchFormat">Switch between HTML and Markdown</button>
					<ul class="issues">
						<issue
							v-bind:format="format"
							v-for="item in issues"
							v-bind:issue="item"
							v-bind:key ="item.number">
						</issue>
					</ul>
				</div>
			</section>
		</div>
	</main>
	<footer>
		<p>Made by <a href="https://frankcorso.me">Frank Corso</a>.</p>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>